<!DOCTYPE html>
<html>
<head>
  <title>Categories</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
  <header>
    <h1>Categories</h1>
    <nav>
      <a href="/">Generate Password</a> 
      <a href="/Logins">Logins</a>
    </nav>
  </header>

  <div id="browse">
    <p><strong>Categories</strong></p>
    <table border="1" cellpadding="7">
      <thead>
        <tr>
          <!-- Loop through the keys of the first category to create table headers -->
          {% if Password_Categories %}
            {% for key in Password_Categories[0].keys() %}
              <th>{{ key }}</th>
            {% endfor %}
          {% else %}
            <p>No categories found</p>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        <!-- Loop through each category in Password_Categories -->
        {% for cat in Password_Categories %}
          <tr>
            {% for key in cat.keys() %}
              <td>{{ cat[key] }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Form for adding a new category -->
  <div id="insert">
    <form method="POST" action="/Categories" id="addCategory">
      <legend><strong>Add Category</strong></legend>
      <fieldset class="fields">
        <label> Name </label>
        <input type="text" name="category_name" required>
      </fieldset>
      <input class="btn" type="submit" name="add_Category" value="Add Category">
      <input class="btn" type="button" value="Cancel" onclick="window.location.href='/Categories'">
    </form>
  </div>

  <!-- Form for deleting a category -->
  <div id="deleteCat">
    <form id="deleteCategory" action="/delete_Category" method="POST">
      <legend><strong>Delete Category</strong></legend>
      <fieldset class="fields">
        <label>Category Name</label>
        <input type="text" name="category_name" placeholder="Enter category name to delete" required>
      </fieldset>
      <input class="btn" type="submit" id="deleteCat" value="Delete">
      <input class="btn" type="button" value="Cancel" onclick="window.location.href='/Categories'">
    </form>
  </div>
</body>
</html>
