<html>

<head>
	<title>Edit People</title>
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> Update User User: </caption>
            {% if data %}
                <thead>
                    <tr>
                        {% for key in Users[0].keys() %}

                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to edit data in Users-->
            <form id="editPerson" action="/edit_login/{{data[0].user_id}}" method="post">
                <legend><strong>Edit Person</strong></legend>
                <fieldset>
                    <input type="hidden" value="{{data[0].user_id}}" class="form-control" id="userID" name="userID" required>

                    <label for="make">email</label>
                    <input type="text" value="{{data[0].email}}" class="form-control" id="email" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" palceholder="{{data[0].email}}"required>

                    <label for="model">username</label>
			            	<input type="text" class="form-control" id="username" name="username" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].username}}" required>
                    <label for="model">username</label>

                        <!-- End of this for loop -->
                        {% endfor %} 
                    </select>	
                        
                </fieldset>
                <input type="submit" value="Edit Person" name="Edit_Person" class="btn btn-primary" style="margin:.5rem;">
                <a href='/Logins'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
