<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    [ <a href="Logins">View All Logins</a> | <a href="Categories">Manage Login Categories</a> | <a href="History">Browse Login History</a> |
    <a href="Generate">Generate Random Password</a> ]

</body>
</html>
