<!DOCTYPE html>
<html>
<head>
    <title>Search Login</title>
</head>
<body>
    <h1>Search Login</h1>
    <form action="/search_Login" method="POST">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username" required>
        </fieldset>
        <input class="btn" type="submit" value="Search">
        <a href="/Logins"><input class="btn" type="button" value="Cancel"></a>
    </form>
</body>
</html>
